.user-theme-creator {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  border-top: 1px solid var(--primary-low);

  .user-theme-list {
    grid-column-start: 1;

    .user-theme-list-heading {
      color: $primary-medium;
      font-size: $font-up-1;
      font-weight: bold;
      padding: 10px;
      margin-bottom: 0;
      border-right: 1px solid var(--primary-low);
      border-left: 1px solid var(--primary-low);
    }

    ul {
      border-right: 1px solid var(--primary-low);
      border-left: 1px solid var(--primary-low);
      box-sizing: border-box;
      list-style: none;
      margin: 0 0 1em 0;
      overflow-y: auto;
      max-height: 60vh;
      width: 100%;

      li {
        border-bottom: 1px solid var(--primary-low);

        &:first-of-type {
          border-top: 1px solid var(--primary-low);
        }

        a {
          display: block;
          padding: 10px;
          color: $primary;

          &:hover {
            background-color: var(--primary-very-low);
          }

          &.active {
            font-weight: bold;
            color: var(--secondary);
            background-color: var(--tertiary);
          }
        }
      }
    }
  }

  .user-create-theme {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
  }

  .user-theme-details {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 1em;

    &.editing {
      margin-left: 0;
      width: 100%;
    }

    .wrapper {
      display: block;
      width: 100%;
    }

    // Reset some admin page styles
    .themes-intro {
      width: 70%;
    }
  }

  .control-unit.metadata {
    .metadata-field {
      margin-bottom: 0.5em;
    }

    input[type="text"] {
      margin-bottom: 0;
    }

    .label {
      font-weight: bold;

      .d-icon {
        fill: var(--primary-medium);
      }
    }
  }

  .user-theme-button {
    margin: 0.5em 0.45em 0 0;
  }

  .user-theme-nav {
    margin: 0;
    padding: 10px 0;
    display: flex;
  }

  h1 {
    margin-bottom: 10px;
  }

  .show-current-style {
    display: block;
    width: 100%;

    .row::after {
      clear: left;
      display: table;
      content: "";
    }

    .btn {
      line-height: $line-height-medium; // Temporary button-height fix
    }

    .title {
      font-size: $font-up-4;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .theme-description {
      display: block;
      margin: 10px 0;
    }

    .metadata {
      .authors,
      .version {
        display: block;

        .heading {
          font-weight: bold;
        }
      }
    }

    .remote-url,
    .about-url,
    .license-url {
      display: inline-block;
      margin-right: 10px;
    }

    .mini-title {
      font-size: $font-up-1;
      font-weight: bold;
      margin-bottom: 7px;
    }

    .control-unit {
      margin-bottom: 25px;
      margin-top: 15px;
    }

    .control {
      margin-bottom: 10px;
    }

    .description {
      margin-bottom: 12px;
      width: 650px;
      max-width: 100%;
    }

    .theme-controls {
      clear: left;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }
  }

  .status-message {
    display: block;
    font-size: $font-down-1;
    margin-top: 8px;
  }

  .select-kit {
    width: 350px;
  }

  table td,
  table th {
    padding: 8px;
  }

  // ACE Editor Sizing
  .ace-wrapper {
    position: relative;
    height: 600px;
    width: 100%;

    .ace_editor {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  // Color scheme interface
  .table.colors {
    margin-bottom: 20px;

    thead th {
      border: none;
    }

    td.hex {
      width: 160px;
    }

    td.actions {
      width: 200px;
    }

    tr:hover {
      background-color: var(--primary-very-low);
    }

    .hex-input {
      width: 80px;
      margin-bottom: 0;
    }

    .hex {
      text-align: center;
    }

    .description {
      color: var(--primary-medium);
    }

    .invalid .hex input {
      background-color: white;
      color: black;
      border-color: var(--danger);
    }
  }
}

.theme-creator-view-shared-theme {
  text-align: center;
}

#theme-creator-share-modal {
  div.share_unavailable {
    text-align: center;

    .large_theme_share_icon {
      font-size: 5rem;
    }

    p.theme_share_unavailable {
      font-size: 1.2rem;
    }
  }
}
