.user-theme-creator {
  // Left/right column interface
  display: flex;

  .theme-list {
    width: 200px;
  }

  .theme-details {
    flex-grow: 1;
    margin-left: 20px;
  }

  // ACE Editor Sizing
  .ace-wrapper {

    position: relative;
    height: 600px;
    width: 100%;

    .ace_editor {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

  }

  // Color scheme interface
  .table.colors {
    thead th {
      border: none;
    }
    td.hex {
      width: 160px;
    }
    td.actions {
      width: 200px;
    }
    .hex-input {
      width: 80px;
      margin-bottom: 0;
    }
    .hex {
      text-align: center;
    }
    .description {
      color: dark-light-choose($primary-medium, $secondary-medium);
    }

    .invalid .hex input {
      background-color: white;
      color: black;
      border-color: $danger;
    }
  }

  // Indent on theme-show view
  .theme-content {
    margin-left: 20px;

    .preview-url{
      width: 300px;
    }
  }
}

#theme-creator-view-modal{
  text-align: center;
}

#theme-creator-share-modal{


  div.share_unavailable{
    text-align: center;

    .large_theme_share_icon{
      font-size: 5rem;
    }

    p.theme_share_unavailable{
      font-size: 1.2rem;
    }
  }
}